<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>E-Commerce Project</title>
    <link rel="stylesheet" href="./bootstrap/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/index.css">
</head>

<body>
    <div class='html'>
        <div class='body'>
            <div class='banner'>
                <p>Your one Shopping/Selling Stop!</p>
                <div class="user-type">
                    <a href="/register/Customer"><button class="btn btn-primary">Buyer</button></a>
                    <a href="/register/Seller"><button class="btn btn-primary">Seller</button></a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>